html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	text-decoration: none;
	color: inherit;
}

li {
	list-style: none;
}

body {
	font-family: "Golos Text", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.2;
	color: #161C24;
	background-color: #F4F6F8;
}

.container {
	max-width: 1310px;
	margin: 0 auto;
	padding: 0 10px;
}

.section__title {
	font-family: "Onest", sans-serif;
	font-size: 36px;
	font-weight: 700;
}

.section__title span {
	color: #5B7DDE;
}

.section__item-title {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 6px;
}

.section__item-descr {
	color: #454F5B;
}


.header {
	background-color: #fff;
	height: 80px;
	box-shadow: 0px -26px 82px 0px rgba(55, 80, 117, 0.15);
	border-radius: 0 0 20px 20px;
}

.nav {
	position: relative;
	padding: 9px 0 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.burger__menu {
	display: none;
	flex-direction: column;
	justify-content: space-between;
	background-color: transparent;
	height: 30px;
	border: 0;
}

.burger__menu span {
	width: 30px;
	height: 1px;
	background-color: #5B7DDE;
	height: 3px;
}

.logo__block {
	font-family: "Lato", sans-serif;
	display: flex;
	flex-direction: column;
}

.logo {
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 4px;
}

.logo__subtitle {
	font-size: 13px;
	font-weight: 500;
}

.menu {
	display: flex;
	gap: 12px;
}

.menu__contacts {
	display: none;
	margin: 0 auto;
}

.menu__item-link {
	padding: 12px 16px;
	background-color: #F4F6F8;
	border-radius: 58px;
}

.contacts {
	font-family: "Lato", sans-serif;
	display: flex;
	gap: 8px;
	align-items: center;
}

.contacts__title {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 2px;
}

.contacts__subtitle {
	font-size: 13px;
	font-weight: 500;
	position: relative;
	color: #5B5B5B;
}

.contacts__subtitle::before {
	content: "";
	position: absolute;
	width: 5px;
	height: 5px;
	top: 5px;
	left: -8px;
	background-color: #5B7DDE;
	border-radius: 50%;
}

.contacts__img {
	display: flex;
}

.rent {
	padding: 50px 0 86px;
	background-image: url(../images/rent-bg.svg);
	background-position: 0px;
	background-repeat: no-repeat;
	position: relative;
}

.rent__main-content {
	background-image: url(../images/rent-main-bg.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 563px;
	padding: 32px;
	position: relative;
	border-radius: 20px;
	margin-bottom: 16px;
}

.rent__main-text {
	padding: 40px;
	max-width: 740px;
	background-color: #fff;
	border-radius: 20px;
}

.rent__main-title {
	font-family: "Onest", sans-serif;
	font-size: 52px;
	font-weight: 700;
	line-height: 1.1;
	text-align: left;
	margin-bottom: 24px;
}

.rent__main-title span {
	color: #5B7DDE;
}

.rent__main-descr {
	font-size: 18px;
	line-height: 1.3;
}

.rent__sub-content {
	display: flex;
	gap: 16px;
	justify-content: space-between;
}

.rent__sub-item {
	padding: 24px;
	background-color: #fff;
	border-radius: 15px;
}

.rent__sub-img {
	float: left;
	margin-right: 12px;
}

.rent__sub-title {
	font-weight: 600;
}

.rent__sub-descr {
	color: #454F5B;
}

.rental-summer {
	padding: 120px 0 0;
	background-color: #fff;
	border-radius: 50px;
}

.rental-title {
	display: flex;
	gap: 10px;
	margin-bottom: 40px;
}

.rental-summer__content {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 30px;
}

.rental-summer__item {
	position: relative;
}

.rental__images {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.rental-summer__link {
	position: absolute;
	right: 12px;
	bottom: 93px;
}

.rental__text {
	width: 100%;
	padding: 18px;
	background-color: #F4F6F8;
	border-radius: 15px;
}

.winter-rental {
	padding: 120px 0;
	background-color: #fff;
	border-radius: 50px;
	box-shadow: 0px -20px 40px -4px rgba(145, 158, 171, 0.12);
}

.rental-winter__content {
	display: grid;
	grid-template-columns: repeat(3, 410px);
	gap: 30px;
}

.rental-winter__item {
	position: relative;
}

.rental-winter__item--four {
	grid-column: 1/3;
	grid-row: 2;
	justify-self: self-start;
}

.rental-winter__item--five {
	grid-column: 2/-1;
	grid-row: 2;
	justify-self: self-end;
}

.rental-summer__link {
	position: absolute;
	right: 10px;
	top: 176px;
}

.services {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.services__inner {
	padding: 116px 0;
	display: flex;
	gap: 123px;
}

.services__title {
	margin-bottom: 15px;
}

.section__descr {
	color: #454F5B;
	font-size: 18px;
	margin-bottom: 32px;
}

.services__wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 30px;
}

.services__item {
	position: relative;
}

.secrices__images {
	display: flex;
}

.services__link {
	position: absolute;
	top: 176px;
	right: 10px;
}

.services__text {
	padding: 18px;
	max-width: 382px;
	background-color: #fff;
	border-radius: 15px;
}

.news {
	padding: 0 0 84px;
}

.news__title {
	margin-bottom: 40px;
}

.news__top {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.slick__arrows {
	display: flex;
	gap: 12px;
}

.slick__arrows .slick-arrow {
	font-size: 0;
	width: 48px;
	height: 48px;
	border: 0;
}

.slick__arrows .slick-prev {
	background: url(../images/next.svg) 0 0 no-repeat;
	transform: rotate(-180deg);
}

.slick__arrows .slick-next {
	background: url(../images/next.svg) 0 0 no-repeat;
}

.slick__arrows .slick-prev.slick-disabled {
	background: url(../images/dis-next.svg) 0 0 no-repeat;
	transform: rotate(0deg);
}

.slick__arrows .slick-next.slick-disabled {
	background: url(../images/dis-next.svg) 0 0 no-repeat;
	transform: rotate(-180deg);
}

.slider__wrapper {
	height: 293px;
}

.slider .slick-list {
	overflow: hidden;
	margin-bottom: 23px;
}

.slider .slick-track {
	display: flex;
	align-items: center;
	gap: 30px;
}

.slider__item {
	padding: 24px;
	max-width: 410px;
	background-color: #fff;
	border-radius: 15px;
}

.item__link {
	padding: 6px 12px;
	background-color: #5B7DDE;
	border-radius: 30px;
}

.item__title {
	margin-top: 24px;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 12px;
}

.item__descr {
	color: #454F5B;
	margin-bottom: 24px;
}

.item__date {
	color: #454F5B;
}

.slider .slick-dots {
	display: flex;
	justify-content: center;
	gap: 4px;
}

.slider .slick-dots button {
	font-size: 0;
	border: 0;
	background-color: #E0E2E4;
	width: 8px;
	height: 8px;
	padding: 0;
	border-radius: 50%;
}

.slider .slick-dots li.slick-active button {
	width: 15px;
	background-color: #5B7DDE;
	border-radius: 5px;
}

.blog {
	background-color: #fff;
	border-radius: 50px;
	padding: 120px 0;
}

.blog__title {
	margin-bottom: 40px;
}

.blog__inner {
	display: grid;
	gap: 30px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 2;
}

.blog__item-three {
	grid-column: 3/-1;
	grid-row: 1;
	align-self: flex-start;
}

.blog__item-four {
	grid-column: 3/-1;
	grid-row: 1;
	align-self: flex-end;
}

.blog__text {
	border-radius: 15px;
}

.blog__images {
	display: flex;
}

.blog__text {
	padding: 18px;
	background-color: #F4F6F8;
}

.section__contacts {
	padding: 120px 0;
}

.contacts__inner {
	display: flex;
	gap: 40px;
	background-color: #fff;
	border-radius: 20px;
	margin: 0 auto;
	padding: 32px;
}

.contacts__title-form {
	font-size: 48px;
	margin-bottom: 16px;
}

.form {
	display: flex;
	gap: 16px;
	align-items: center;
	margin-bottom: 24px;
}

.contacts__tel {
	padding: 18px 12px;
	border: 1px solid #E5E5E5;
	border-radius: 10px;
	width: 608px;
	font-size: 16px;
}

.contacts__tel::placeholder {
	font-size: 16px;
}

.contacts__btn {
	background-color: #5B7DDE;
	border: 0;
	border-radius: 10px;
	padding: 16px 62px;
	font-size: 18px;
	font-weight: 600;
	color: #fff;
}

.checkbox {
	display: flex;
	align-items: center;
	gap: 14px;
}

.contacts__checkbox-label {
	font-weight: 500;
	color: #A5B2BF;
}

.contacts__checkbox-label a {
	color: #5B7DDE;
}

.contacts__links {
	max-width: 342px;
	height: 293px;
	border-radius: 20px;
	background-color: #F4F6F8;
	padding: 24px;
	background: url(../images/links-test.svg), #F4F6F8;
	background-position: center bottom;
	background-repeat: no-repeat;
}

.links__title {
	font-size: 18px;
	color: #454F5B;
	margin-bottom: 24px;
}

.links__telegram {
	display: flex;
	justify-content: space-between;
	padding: 12px 16px;
	background-color: #fff;
	border-radius: 8px;
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: 500;
	color: #229ED9;
}

.links__whatsapp {
	display: flex;
	justify-content: space-between;
	padding: 12px 16px;
	background-color: #fff;
	border-radius: 8px;
	font-size: 18px;
	font-weight: 500;
	color: #08B419;
}

.sports-rental {
	height: 834px;
	padding: 170px 0 145px;
	background: url(../images/sports-rental.jpg) center no-repeat;
	border-radius: 50px 50px 0 0;
}

.sports-rental__text {
	padding: 48px;
	border-radius: 30px;
	background-color: #fff;
	max-width: 834px;
}

.sports-rental__title {
	margin-bottom: 24px;
}

.sports-rental__descr a {
	color: #5B7DDE;
}

.sports-rental__descr span {
	font-weight: 700;
	margin-top: 20px;
}

.footer {
	padding: 50px 0 15px;
	border-radius: 50px 50px 0 0;
	background-color: #161C24;
	color: #fff;
}

.footer__nav {
	margin-bottom: 18px;
}

.footer__logo-block {
	text-align: left !important;
}

.footer__contacts {
	display: flex;
	align-items: center;
	gap: 32px;
}

.map {
	display: flex;
	align-items: center;
	gap: 7px;
}

.map-link {
	color: #BDCCF7;
}

.link__list {
	padding: 20px 0;
	display: flex;
	justify-content: space-between;
	position: relative;
}

.link__list::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	background-color: #fff;
	opacity: 0.09;
	top: 0;
	left: 0;
}

.link__list::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	background-color: #fff;
	opacity: 0.09;
	bottom: 0;
	left: 0;
}

.link__text {
	display: block;
	width: 205px;
	padding: 12px 0;
	background-color: #42484E;
	text-align: center;
	border-radius: 58px;
}

.copypaste {
	display: inline-block;
	margin-top: 20px;
	opacity: 0.4;
	font-size: 14px;
}

@media(max-width: 1330px) {
	.rental-title {
		justify-content: center;
	}

	.rental-summer__content {
		grid-template-columns: repeat(1, 1fr);
	}

	.rental-summer__item {
		justify-self: center;
	}

	.winter-rental {
		padding: 60px 0;
	}

	.rental-winter__content {
		display: flex;
		flex-direction: column;
	}

	.rental-winter__item {
		max-width: 410px;
		margin: 0 auto;
	}

	.rental-winter__item img {
		width: 100%;
	}

	.rental__text {
		min-height: 102px;
	}

	.services__inner {
		display: block;
	}

	.title {
		margin-bottom: 50px;
	}

	.services__title {
		margin-bottom: 20px;
	}

	.services__item {
		max-width: 382px;
	}

	.services__item img {
		max-width: 100%;
	}

	.services__item-one {
		justify-self: self-end;
	}

	.services__item-three {
		justify-self: self-end;
	}

	.blog__inner {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto;
	}

	.blog__inner img {
		width: 100%;
	}

	.blog__item {
		max-width: 410px;
	}

	.blog__item-one {
		justify-self: self-end;
	}

	.blog__item-three {
		grid-column: auto;
		grid-row: auto;
		justify-self: self-end;
	}

	.blog__item-four {
		grid-column: auto;
		grid-row: auto;
	}

	.blog__text {
		min-height: 86px;
	}

	.contacts__inner {
		flex-direction: column;
	}

	.contacts__links {
		max-width: 100%;
	}

	.link__list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 30px;
		padding: 20px 100px;
	}

	.link__item {
		justify-self: center;
	}
}

@media(max-width: 1120px) {
	.burger__menu {
		display: flex;
	}

	.logo__block {
		text-align: center;
	}

	.menu {
		position: absolute;
		top: 80px;
		left: -10px;
		width: 400px;
		min-height: 500px;
		flex-direction: column;
		background-color: #fff;
		border-radius: 15px;
		color: #000;
		padding: 50px 0 100px;
		text-align: center;
		font-size: 30px;
		z-index: 1;
		gap: 15px;
		box-shadow: 1px 1px 20px #161C24;
		transform: translateY(-200%);
		transition: transform .4s ease;
	}

	.menu--active {
		transform: translateY(0%);
	}

	.menu__item-link {
		padding: 0;
		background-color: transparent;
		border-radius: 0;
	}

	.slider .slick-track {
		gap: 20px;
		justify-content: space-evenly;
	}
}

@media(max-width: 960px) {
	.form {
		flex-direction: column;
	}
}

@media(max-width: 890px) {

	.rent__main-title {
		font-size: 46px;
	}

	.rent__main-descr {
		font-size: 16px;
	}

	.rent__sub-content {
		flex-direction: column;
		padding: 0 100px;
	}

	.sports-rental {
		padding: 60px 30px;
	}

	.link__list {
		padding: 20px 50px;
		grid-template-columns: repeat(2, 1fr);
	}
}

@media(max-width: 720px) {
	.section__title {
		font-size: 35px;
	}

	.rental-summer__item img {
		width: 100%;
	}

	.rental-summer__link {
		right: 2%;
		top: 54%;
	}

	.rental__text {
		min-height: 102px;
	}

	.rental-summer {
		padding: 60px 0;
	}

	.services__inner {
		padding: 60px 0;
	}

	.services__wrapper {
		grid-template-columns: repeat(1, 1fr);
	}

	.services__item {
		margin: 0 auto;
	}

	.services__item-one,
	.services__item-three {
		justify-self: auto;
	}

	.services__link {
		top: 42%;
		right: 2%;
	}

	.blog {
		padding: 60px 0;
	}

	.contacts__tel {
		width: 100%;
	}
}

@media(max-width: 640px) {

	.logo__block {
		text-align: right;
	}

	.menu__contacts {
		display: list-item;
	}

	.contacts {
		display: none;
	}

	.contacts__list-item {
		display: flex;
	}

	.rent__main-title {
		font-size: 38px;
	}

	.rent__main-descr {
		font-size: 14px;
	}

	.rental-summer__link {
		top: 46%;
	}

	.news__top {
		flex-direction: column;
		margin-bottom: 50px;
	}

	.news__title {
		margin-bottom: 15px;
	}

	.blog__inner {
		grid-template-columns: repeat(1, 1fr);
	}

	.blog__item {
		margin: 0 auto;
	}

	.blog__item-one,
	.blog__item-three {
		justify-self: auto;
	}

	.sports-rental__text {
		padding: 30px;
	}

	.section__descr {
		font-size: 15px;
	}

	.link__list {
		padding: 20px;
		gap: 20px;
	}
}

@media(max-width: 560px) {
	.rent__main-title {
		font-size: 32px;
	}

	.rent__main-descr {
		font-size: 13px;
	}

	.rent__sub-content {
		padding: 0 50px;
	}

	.section__title {
		font-size: 32px;
	}

	.rental-summer__link {
		top: 39%;
	}

	.link__list {
		grid-template-columns: repeat(1, 1fr);
	}
}

@media(max-width: 440px) {
	.menu {
		width: 100vw;
		height: 100vh;
	}

	.rent__main-content {
		padding: 15px;
		height: 375px;
	}

	.rent__main-text {
		padding: 15px;
	}

	.rent__main-title {
		font-size: 24px;
	}

	.rent__main-descr {
		font-size: 10px;
	}

	.rent__sub-content {
		padding: 0 15px;
	}

	.rental-summer__link {
		top: 25%;
	}

	.section__title {
		font-size: 24px;
	}

	.sports-rental {
		padding: 30px 15px;
	}

	.sports-rental__text {
		padding: 20px;
	}

	.sports-rental__descr {
		font-size: 13px;
	}

	.footer {
		padding: 30px 0 18px;
	}

	.footer__nav {
		/* margin-bottom: 10px; */
	}

	.link__list {
		padding: 20px 0;
	}
}

@media(max-width: 320px) {
	.sports-rental {
		padding: 20px 10px;
	}
}