html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	text-decoration: none;
	color: inherit;
}

li {
	list-style: none;
}

body {
	font-family: "Golos Text", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.2;
	color: #161C24;
	background-color: #F4F6F8;
}

.container {
	max-width: 1310px;
	margin: 0 auto;
	padding: 0 10px;
}

.section__title {
	font-family: "Onest", sans-serif;
	font-size: 36px;
	font-weight: 700;
}

.section__title span {
	color: #5B7DDE;
}

.header {
	background-color: #fff;
	height: 80px;
	box-shadow: 0px -26px 82px 0px rgba(55, 80, 117, 0.15);
	border-radius: 0 0 20px 20px;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo__block {
	font-family: "Lato", sans-serif;
	display: flex;
	flex-direction: column;
}

.logo {
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 4px;
}

.logo__subtitle {
	font-size: 13px;
	font-weight: 500;
}

.menu {
	display: flex;
	gap: 12px;
}

.menu__item {}

.menu__item-link {
	padding: 12px 16px;
	background-color: #F4F6F8;
	border-radius: 58px;
}

.contacts {
	font-family: "Lato", sans-serif;
	display: flex;
	gap: 8px;
}

.contacts__title {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 2px;
}

.contacts__subtitle {
	font-size: 13px;
	font-weight: 500;
	position: relative;
}

.contacts__subtitle::before {
	content: "";
	position: absolute;
	width: 5px;
	height: 5px;
	top: 5px;
	left: -8px;
	background-color: #5B7DDE;
	border-radius: 50%;
}

.rent {
	padding: 50px 0 86px;
	background-image: url(../images/rent-bg.svg);
	background-position: 0px;
	background-repeat: no-repeat;
	position: relative;
}

.rent__main-content {
	background-image: url(../images/rent-main-bg.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 1288px;
	height: 563px;
	padding: 32px;
	position: relative;
	border-radius: 20px;
	margin-bottom: 16px;
}

.rent__main-text {
	padding: 40px;
	max-width: 740px;
	background-color: #fff;
	border-radius: 20px;
}

.rent__main-title {
	font-family: "Onest", sans-serif;
	font-size: 52px;
	font-weight: 700;
	line-height: 1.1;
	text-align: left;
	margin-bottom: 24px;
}

.rent__main-title span {
	color: #5B7DDE;
}

.rent__main-descr {
	font-size: 18px;
	line-height: 1.3;
}

.rent__sub-content {
	display: flex;
	gap: 16px;
	justify-content: space-between;
}

.rent__sub-item {
	padding: 24px;
	background-color: #fff;
	border-radius: 15px;
}

.rent__sub-img {
	float: left;
	margin-right: 12px;
}

.rent__sub-title {
	font-weight: 600;
}

.rent__sub-descr {
	color: #454F5B;
}

.rental-summer {
	padding: 120px 0 0;
	background-color: #fff;
	border-radius: 50px;
}

.rental-title {
	display: flex;
	gap: 10px;
	margin-bottom: 40px;
}

.rental-summer__content {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 30px;
}

.rental-summer__item {
	position: relative;
}

.rental__images {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.rental-summer__link {
	position: absolute;
	right: 12px;
	bottom: 93px;
}

.rental__text {
	width: 100%;
	padding: 18px;
	background-color: #F4F6F8;
	border-radius: 15px;
}

.rental__text-title {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 6px;
}

.rental__text-descr {
	color: #454F5B;
}

.winter-rental {
	padding: 120px 0;
	background-color: #fff;
	border-radius: 50px;
	box-shadow: 0px -20px 40px -4px rgba(145, 158, 171, 0.12);
}

.rental-winter__content {
	display: grid;
	grid-template-columns: repeat(3, 410px);
	gap: 30px;
}

.rental-winter__item {
	position: relative;
}

.rental-winter__item--four {
	grid-column: 1/3;
	grid-row: 2;
	justify-self: self-start;
}

.rental-winter__item--five {
	grid-column: 2/-1;
	grid-row: 2;
	justify-self: self-end;
}

.rental-summer__link {
	position: absolute;
	right: 10px;
	top: 176px;
}